/* start Banner */
.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.5s ease-in-out;
}
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .content {
    text-align: center;
    z-index: 1;

    h1 {
      color: var(--text-color);
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      color:var(--text-color);
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    button {
      background-color: var(--primary-color);
      border: none;
      padding: 1rem 2rem;
      font-size: 1rem;
      border-radius: 5px;
      color: var(--text-color);
    }
  }
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.progress-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.label {
  font-weight: bold;
}

.percentage {
  color: var(--primary-color);
}

.custom-progress-bar {
  border-radius: 0.25rem;
  background-color: #fff;
  overflow: hidden;
  height: 22px;
  border: 1px solid var(--primary-color);
}

.custom-progress-bar .progress-bar {
  background-color: var(--primary-color);
  transition: width 0.5s ease-in-out;
}

.custom-progress-bar .progress-bar-striped {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15) 7px,
    transparent 0,
    transparent 14px
  );
}

.custom-progress-bar .progress-bar-animated {
  animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
  from {
    background-position-x: 1rem;
  }
  to {
    background-position-x: 0;
  }
}

/* end Progress bar */

/* start Competences slider */
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--body-color);
}

.slider {
  width: 70%;
  padding: 10px;
  overflow: hidden;
   overflow-x: scroll;
  scroll-behavior: smooth; /* Add smooth scrolling behavior */
  white-space: nowrap; /* Ensure icons stay in a single line */
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

}
.slider::-webkit-scrollbar {
  display: none; /* WebKit */
}

.inner {
  display: flex;

  cursor: grab;
 
}


.competence img {
  width: 300px;

  padding: 30px;
  pointer-events: none;
}

.arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 32px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--text-color);
  opacity: 0.8;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

  
  
}

.left {
  left: 10%;
}

.right {
  right: 10%;
}

/* Style the HTML5 SVG icon */
.html-svg {
  color: #e44d26;
 
}

/* Style the CSS3 SVG icon */
.css-svg {
  color: #264de4;
  
}

/* Style the Figma SVG icon */
.figma-svg {
  color: #000;
  
}

/* Style the Sass SVG icon */
.scss-svg {
  color: #cd6799;
  
}

/* Style the JavaScript SVG icon */
.js-svg {
  color: #f0db4f;
  
}

/* Style the React SVG icon */
.react-svg {
  color: #61dafb;
 
}
.adobe-svg {
  
  color: #000; /* set the default color for the SVG */
}
.git-svg {
  color: #f05032; /* set the default color for the SVG */
}
.github-svg {
  color: black; /* set the default color for the SVG */
}
.node-svg {

  font-size: 10em;
  color: #68a063; /* set the default color for the SVG */
}
.tailwind-svg {
  margin-top: 50px;
  font-size: 10em;
  color: #38b2ac; /* set the default color for the SVG */
}
.mongo-svg {
  margin-top: 50px;
  font-size: 10em;
  color: #4db33d; /* set the default color for the SVG */
}
.svg-icon{
padding: 20px;
 font-size: 22em
}

/* end Competences */

/*  start about banner */

.hero {
  display: flex;
  gap: 20px;
  position: relative;
}

.hero-text-wrapper {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: var(--text-color);
}

.hero-text h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
}

.icons {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 30px;
  gap: 30px;
}

.icon {
  font-size: 40px;
  color: #333;
}

.icon:hover {
  color: var(--primary-color);
}

.hero-image {
  background-color: #dadada;
  flex: 1;
  border: 2px solid var(--primary-color);
  text-align: center;
  border-radius: 0px 25px 0px 25px;
  padding: 4px;
}

.hero-image img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 0px 2px 0px 7px;
  box-shadow: 0px 60px 37px -39px rgba(0, 0, 0, 0.37);
}

.apostrophe {
  display: flex;
  width: 5%;
  position: absolute;
  top: -28%;
  left: -1%;
}
.apostrophe-reversed {
  display: flex;
  width: 5%;
  position: absolute;
  bottom: -28%;
  right: 0;

  transform: rotate(180deg);
}
.citation {
  margin-top: 20px;
  position: relative;
  padding: 30px;
}
.citation-author {
  position: relative;
  padding-left: 30px;
}
.citation-author p:nth-child(2) {
  text-align: left;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
}
.citation-author p:nth-child(1) {
  text-align: left;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .hero {
    flex-direction: column;
  }
  .hero-text {
    padding: 0px;
  }
  .icons {
    padding: 0;
    justify-content: center;
  }
  .citation,
  .citation-author {
    padding: 5px;
  }
  .apostrophe {
    width: 7%;
  }
  .apostrophe-reversed {
    width: 7%;
  }
}
