/* start Banner */

.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.5s ease-in-out;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  text-align: center;
  z-index: 1;

  h1 {
    color: var(--text-color);
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  button {
    background-color: var(--primary-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--text-color);
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* end banner */

/* ############################################################################# */

/*  start about banner */
.section-one {
  background-color: var(--body-color);
  position: relative;
  margin-bottom: 70px;
  width: 100vw;
}

.hero {
  display: flex;
  gap: 20px;
  position: relative;
}

.hero-text-wrapper {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: var(--text-color);
}

.hero-text h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
}

.icons {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 30px;
  gap: 30px;
}

.icon {
  font-size: 40px;
  color: var(--text-color);
}

.icon:hover {
  color: var(--primary-color);
}

.hero-image {
  background-color: #dadada;
  flex: 0.8;
  border: 2px solid var(--primary-color);
  text-align: center;
  border-radius: 0px 25px 0px 25px;
  padding: 4px;
}

.hero-image img {
  width: 99%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 0px 2px 0px 7px;
  box-shadow: 0px 60px 37px -39px rgba(0, 0, 0, 0.37);
}

.apostrophe {
  display: flex;
  width: 5%;
  position: absolute;
  top: -28%;
  left: -1%;
}
.apostrophe-reversed {
  display: flex;
  width: 5%;
  position: absolute;
  bottom: -28%;
  right: 0;

  transform: rotate(180deg);
}
.citation {
  margin-top: 20px;
  position: relative;
  padding: 30px;
}
.citation-author {
  position: relative;
  padding-left: 30px;
}

.citation-author p:nth-child(1) {
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
}

/* ############################################################################# */

/* start Competences slider */

.section-two {
  background-color: var(--body-color);
  padding: 60px 0px;
  margin-bottom: 70px;
  position: relative;
  width: 100vw;
}
.section-shapes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.section-shapes .section-square-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-shapes .section-square-wrapper .section-square {
  width: 68px;
  height: 68px;
  background-color: var(--primary-color);
}
.section-shapes .section-square-wrapper h2 {
  font-size: 35px;
  font-weight: bold;
  color: var(--primary-color);
  line-height: 1.3;
  text-align: left;
}
.section-shapes .section-image {
  width: 380px;
  height: 280px;
  border-radius: 25px 0 25px 0;
}
.section-shapes .section-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px 0 25px 0;
}
.section-description {
  margin-bottom: 40px;
}
.section-description p {
  color: var(--text-color);
  text-align: left;
  width: 80%;
  margin: 1rem 0;
  font-size: 22px;
  line-height: 1.8;
  letter-spacing: 0.4;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: var(--body-color); */
}

.slider {
  width: 90%;
  padding: 10px;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.slider::-webkit-scrollbar {
  display: none;
}

.inner {
  display: flex;
  cursor: grab;
}

.competence img {
  width: 300px;
  padding: 30px;
  pointer-events: none;
}

.arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 32px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--text-color);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left {
  left: 5%;
}

.right {
  right: 5%;
}

/* Style the HTML5 SVG icon */
.html-svg {
  color: #e44d26;
}

/* Style the CSS3 SVG icon */
.css-svg {
  color: #264de4;
}

/* Style the Figma SVG icon */
.figma-svg {
  color: #000;
}

/* Style the Sass SVG icon */
.scss-svg {
  color: #cd6799;
}

/* Style the JavaScript SVG icon */
.js-svg {
  color: #f0db4f;
}

/* Style the React SVG icon */
.react-svg {
  color: #61dafb;
}
.adobe-svg {
  color: #000; /* set the default color for the SVG */
}
.git-svg {
  color: #f05032; /* set the default color for the SVG */
}
.github-svg {
  color: black; /* set the default color for the SVG */
}

.svg-icon {
  padding: 30px;
  font-size: 12em;
  border: 3px solid;
  border-radius: 50%;
  margin: 20px;
}

.section-three {
  background-color: var(--body-color);
  padding-top: 60px;
  margin-bottom: 70px;
  width: 100vw;
}

/* end Competences */

/* ############################################################################# */

/* start learning */

.learning-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.section-shapes-reverted {
  flex-direction: row-reverse;
}
.reverted-square {
  align-items: flex-end;
}
.learning-competence {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.learning-competence h3 {
  font-size: 24px;
  margin: 0px 0px 8px;
  color: var(--primary-color);
}

.learning-competence p {
  color: var(--text-color);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.svg-icon-learn {
  width: 300px;
  height: 300px;
  font-size: 48em;
  border: 3px solid;
  border-radius: 50%;
  box-shadow: 0px 75px 45px -75px rgb(0 0 0 / 60%);
  border: 5px solid rf;
  padding: 5px;
  animation: float 1.4s ease-in-out infinite;
  margin-bottom: 20px;
}
.node-svg {
  color: #68a063;
}

.mongo-svg {
  color: #4db33d;
}

.leaflet-svg {
  color: green;
}
.firebase-svg {
  color: #ffa000;
}
.ai-svg {
  background-color: rgb(252, 136, 9);
  color: rgb(37, 1, 3);
}

/* end learning */

/* ############################################################################# */

/* start Niveau */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
  border-radius: 50%;
}

.flip-card-back {
  background-color: var(--primary-color);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flip-card-back p {
  font-size: 48px;
  padding: 20px;
}

.section-four {
  background-color: var(--body-color);
  padding-top: 60px;
  margin-bottom: 70px;
  width: 100vw;
}
.tailwind-svg {
  color: #38b2ac;
}

.php-svg {
  color: #4f5d95;
}
.mysql-svg {
  color: #0078d6;
}

.svg-icon-skill {
  width: 300px;
  height: 300px;
  font-size: 48em;

  box-shadow: 0px 75px 45px -75px rgb(0 0 0 / 60%);
  border: 5px solid rf;
  padding: 10px;
  /* animation: float 1.4s ease-in-out infinite; */
  margin-bottom: 20px;
}
.progress-icon {
  width: 60px;
  height: 60px;

  box-shadow: 0px 75px 45px -75px rgb(0 0 0 / 60%);

  padding: 5px;
  animation: float 1.4s ease-in-out infinite;
  margin-bottom: 20px;
}
/* end Niveau */

/* ############################################################################# */

/* start responsiveness */

@media screen and (max-width: 767px) {
  .hero {
    flex-direction: column;
  }
  .hero-text {
    padding: 0px;
  }
  .icons {
    padding: 0;
    justify-content: center;
  }
  .citation,
  .citation-author {
    padding: 5px;
  }
  .apostrophe {
    width: 7%;
  }
  .apostrophe-reversed {
    width: 7%;
  }
}

/* ############################################################################# */

@media screen and (max-width: 767px) {
  .section-shapes {
    flex-direction: column;
  }
  .section-shapes .section-image {
    width: 100%;
    height: 280px;
    border-radius: 25px 0 25px 0;
  }
  .section-shapes .section-square-wrapper h2 {
    font-size: 32px;
    margin: 20px 0;
  }

  .section-description p {
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.4;
    width: 100%;
  }
}
