body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: #e3e3e3;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff9800;
  --secondary-color: #e5e5e5;
  --color-golden: #dcca87;
  --color-footer: #00372a;
  --color-blog: #042c54;
  --color-hover: #c2d500;
  --color-secondary: #7dcaa0;
  --color-border: #dadee3;
  --body-color: #f9f9f9;
  --header-color: #fffffff5;
  --text-color: #333333;
}
.custom-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}
