.thumbs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 20px;
  row-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  width: 82%;
  max-width: 1440px;
  padding: 20px;
  margin: auto;
}

@media screen and (max-width: 425px) {
  .thumbs-container {
    margin: 0;
  }
}

.thumb {
  background-color: var(--color-primary);
  position: relative;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    border: 3px solid var(--footer-color);

}



.image-div {
  width: 100%;
  height: 300px;
  position: relative;
}
.image-div:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to top,
    #0a5443 3%,
    #0a5443ea 10%,
    #0a544300 45%
  );
}

.image-div .thum-img {
  width: 100%;
  height: 100%;
  margin: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
  object-position: center;
}
.card-separator {
  width: 100%;
  height: 20px;
  background-color: #0a5443;
}
.text-wrapper h2 {
  font-weight: 400;
  font-size: 18px;
}

.project-tag {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-color);
}
.project-tag .project-title {
  background-color: var(--color-secondary);
  border-radius: 4px;
}

.project-title p {
  font-size: 16px;
  font-weight: 400;
  padding: 4px 10px;
  text-decoration: none;
}

.project-tag .text-wrapper {
  color: white;
}
