
.thumbs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-radius: 20px;
  row-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  width: 82%;
  max-width: 1024px;
  margin: auto;
  padding-top: 30px;
}
.thumbs-container a {
  text-decoration: none;
}

.thumb {
  background-color: var(--color-primary);
  position: relative;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  position: relative;
}
.thumb::before {
  position: absolute;
  content: " Détails du projet";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
display: flex;
justify-content: center;
align-items: center;
  background-color: rgb( 27, 27, 27);
  z-index: 2000;
  opacity: 0;
  font-size: 32px;
  font-weight: 600;
  transition:  opacity 0.3s ease-in-out;
}
 .thumb:hover::before{
opacity: 0.9;}

.image-div {
  width: 100%;
  height: 300px;
  position: relative;
}
.image-div:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #4d5050e4 3%, #4d5050da 5%, #4d505000 45%);
  /* background: linear-gradient(to top, #a6dab2 3%, #a6dab2e9 10%, #a6dab200 45%); */
}

.image-div .thum-img {
  width: 100%;
  height: 100%;
  margin: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
  object-position: center;
    border-radius:   8px 8px 0px 0px;

}
/* .card-separator {
  width: 100%;
  height: 20px;
  background-color: #4d5050;
} */
.text-wrapper h2 {
  font-weight: 400;
  font-size: 18px;
}
a {
  text-decoration: non;
}
.project-tag {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFBF00;
  border-radius:  0px 0px 8px 8px;
  color: #333333;
}
.project-tag .project-title {
  background-color: #333333;
  border-radius: 4px;
  color: white;
}

.project-title p {
  font-size: 16px;
  font-weight: 400;
  padding: 4px 10px;
  text-decoration: none;
}

.project-tag .text-wrapper {
}

/* ############################################################################# */

/* start banner */

.project-banner-wrapper {
  height: 600px;
  background-image: url("../../images/git.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100vw;
  z-index: -2;
}

.project-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-word {
  color: #333333;
  font-size: 12vw;
  font-weight: 800;
  animation: slideIn 1s ease-out;
  display: none;
}
.slide-word.active {
  display: block;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateZ(-400px);
    transform: scale(1.4);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

/* end banner */




/* ############################################################################# */




/* start individual project */
.projectContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  text-align: center;
}