.thumbs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 16px; /* Changed to padding for consistent spacing */
  border-radius: 20px;
  row-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;

  /* Center the container horizontally and vertically */
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

@media screen and (max-width: 425px) {
  .thumbs-container {
    margin: 0;
  }
}

.thumbs-wrapping {
  background-color:#eee;
  width: 100%;
  height: 100%;
  padding-top: 24px;
  padding-bottom: 16px;
  border-radius: 0px 0px 24px 24px;

  -webkit-border-radius: 0px 0px 24px 24px; /* WebKit/Blink browsers */
}


.thumbs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.thumb {
  background-color: var(--color-primary);
  position: relative;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.thumb::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.65) 20%,
    rgba(255, 255, 255, 0) 50%
  );
  z-index: 2;
  border-radius: 8px;
}

.text-wrapper {
  padding: 10px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 70px;
}

.text-wrapper h2 {
  font-weight: 400;
  font-size: 24px;
}

.th-wrapper {
padding-top: 80px;

}

.thum-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.fav-icon {
  z-index: 2;
  font-size: 28px;
}

.fill {
  color: var(--color-red);
  z-index: 2;
  font-size: 28px;
}

.coup-coeur-vignette {
  position: absolute;
  background-color: var(--color-secondary);
  padding: 3px 8px;
  margin: 10px;
  border-radius: 4px;
  color: black;
  bottom: 50px;
  z-index: 2;
}

.coup-coeur-vignette p {
  font-size: 13px;
  font-weight: 400;
}

.icon-wrapper {
  padding-top: 5px;
}
