.outer-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    align-items: center;
    justify-content: center; 
    max-width: 1440px;
    width: 100vw;
    height: 50vh;}
.outer-container p {
  color: var(--primary-color);
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}
/* .contactform{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    margin: 10px 0px;
}
.contactform label{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 2px;
}
.contactform input , .contactform textarea{
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid var(--primary-color);
}
.outer-container button {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
background-color: var(--primary-color);   
color: white;
font-weight: 700; 
}

.outer-container button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px #b5b5b5;
} */



input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}